.header-title {
    flex-grow: 1;
    font-size: 1.5rem;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.header-buttons .menu-button {
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .header-title {
        font-size: 1.25rem;
    }

    .header-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-buttons .menu-button {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}