/* Estilos generales */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-default);
  color: var(--text-primary);
  transition: background-color 0.5s, color 0.5s;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 1rem;
}

.header-title {
  flex-grow: 1;
  font-size: 1.5rem;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons .menu-button {
  margin-right: 1rem;
}

.chart-container {
  padding: 1rem;
  background-color: var(--background-paper);
  border-radius: 8px;
  margin-top: 1rem;
}

.chart-title {
  margin-bottom: 1rem;
}

.form-container {
  padding: 1rem;
  background-color: var(--background-paper);
  border-radius: 8px;
  margin-top: 1rem;
}

.expense-card {
  padding: 1rem;
  background-color: #FFF8E1;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.expense-title {
  color: var(--primary-main);
}

.icon-button {
  color: var(--primary-main);
}

.chart-grid-item {
  padding: 1rem;
  height: 100%;
}

.pie-chart-container {
  position: relative;
  height: 200px;
}

.no-expenses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  margin-top: -3rem;
}

/* Estilos de las filas de la tabla */
.even-row {
  background-color: var(--even-row-bg);
}

.odd-row {
  background-color: var(--odd-row-bg);
}

/* Variables para modo claro */
:root {
  --background-default: #F1F3F4;
  --background-paper: #FFFFFF;
  --text-primary: #333;
  --primary-main: #4285F4;
  --secondary-main: #DB4437;
  --even-row-bg: #f5f5f5;
  --odd-row-bg: #ffffff;
}

/* Variables para modo oscuro */
[data-theme="dark"] {
  --background-default: #121212;
  --background-paper: #424242;
  --text-primary: #ffffff;
  --even-row-bg: #424242;
  --odd-row-bg: #303030;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 1.25rem;
  }

  .header-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-buttons .menu-button {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .form-container {
    margin-bottom: 2rem;
  }
}