body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.5s, color 0.5s;
  box-sizing: border-box;
}

.container {
  padding: 2rem;
}

.header-title {
  flex-grow: 1;
  font-size: 1.5rem;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons .menu-button {
  margin-right: 1rem;
}

.chart-container {
  padding: 1rem;
  background-color: var(--paper);
  border-radius: 8px;
  margin-top: 1rem;
}

.chart-title {
  margin-bottom: 1rem;
}

.form-container {
  padding: 1rem;
  background-color: var(--paper);
  border-radius: 8px;
  margin-top: 1rem;
  /* Reduced gap */
}

.expense-card {
  padding: 1rem;
  background-color: #FFF8E1;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.expense-title {
  color: var(--primary-main);
}

.icon-button {
  color: var(--primary-main);
}

.chart-grid-item {
  padding: 1rem;
  height: 100%;
}

.pie-chart-container {
  position: relative;
  height: 200px;
}

.no-expenses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  /* Adjust this value based on your header height /
  margin-top: -3rem;
  / Adjust this value to reduce the space */
}

@media (max-width: 768px) {
  .header-title {
    font-size: 1.25rem;
  }

  .header-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-buttons .menu-button {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .form-container {
    margin-bottom: 2rem;
  }
}